*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:#1d222b;
  color: white;
  min-height: 100vh;
  font-family:'Roboto' ,sans-serif;
}
.header,h1{
  color:white;
  text-align: center;
  margin:40px 10px;}



.form-input,.form-button{
  padding: 10px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
}

.form-input{
  width: 350px;
  border:2px solid gray;
  background-color: #1f1f1f;
  color: white;
  
}

.form-button{
  width: 90px;
  color:#fff;
  cursor: pointer;
  margin-left: 15px;
  border:2px solid grey;
  background: transparent;
  transition: 0.3s all ease-in-out;
}

.form-button:hover{
   background:#1f1f1f;
}

.todo-li{
  margin: 16px;
  background: transparent;
  font-size: 24px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-ul{
  display: flex;
  justify-content: center;
  align-items: center;
}






.li-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:1px solid grey;
  padding: 12px;
}


.button-complete,
.button-save,
.button-delete,
.button-edit{
  border:none;
  border-radius:10px ;
  cursor:pointer;
  width:100px;
  height: 40px;
  text-align: center;
  font-size: 15px;
  margin-left: 30px;
  color:white ;
  }

.button-complete{
  background-color: #4fce5d;
}


.button-delete{
  background-color: #fc4338;
} 

.button-save{
  background-color: #9370DB;
  } 

.button-edit{
   background-color: #669bfa;
} 

.completed {
  text-decoration-style:solid ;
  text-decoration-line:line-through ;
  text-decoration-style: rgb(202, 189, 189);
  opacity: 0.3;
}

.li-input{
  width: 400px;
  height: 40px;
  font-size: 18px;
  border: 2px solid grey;
  padding-left: 30px;
  font-weight: 400;
  background-color: #1f1f1f;
  color: white;
}

input:focus,
button:focus{
  outline: none;
}

.text-complete,.text-edit,.text-delete,.text-save{
  padding: 5px;
}